<div class="gm-reference">
  <div class="gm-ref-toolbar">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="search" class="gm-ref-filter" placeholder="{{localize 'GMTOOLS.Reference.Filter'}}">
  </div>

  {{#each sections}}
  <section class="gm-ref-section">
    <h2><i class="{{this.icon}}"></i> {{this.title}}</h2>
    {{#each this.blocks}}

      {{#if this.isConditions}}
      <div class="gm-ref-conditions">
        {{#each this.entries}}
        <div class="gm-ref-entry gm-condition">
          <h3>{{#if this.img}}<img class="gm-condition-icon" src="{{this.img}}" alt="">{{else}}<i class="{{this.icon}}"></i>{{/if}} {{this.name}}</h3>
          {{#if this.html}}
          <div class="gm-condition-desc">{{{this.html}}}</div>
          {{else}}
          <ul>{{#each this.effects}}<li>{{this}}</li>{{/each}}</ul>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{#if this.isSubhead}}
      <h3 class="gm-ref-subhead">{{this.text}}</h3>
      {{/if}}

      {{#if this.isTable}}
      <table class="gm-ref-table">
        <thead>
          <tr>{{#each this.headers}}<th>{{this}}</th>{{/each}}</tr>
        </thead>
        <tbody>
          {{#each this.rows}}
          <tr class="gm-ref-entry">{{#each this}}<td {{#if @first}}class="gm-ref-name"{{/if}}>{{this}}</td>{{/each}}</tr>
          {{/each}}
        </tbody>
      </table>
      {{#if this.notes.length}}
      <ul class="gm-ref-notes">{{#each this.notes}}<li class="gm-ref-entry">{{this}}</li>{{/each}}</ul>
      {{/if}}
      {{/if}}

      {{#if this.isDeflist}}
      <div class="gm-ref-actions">
        {{#each this.entries}}
        <div class="gm-ref-entry gm-ref-action">
          <span class="gm-ref-name">{{this.name}}</span>
          <span class="gm-ref-action-desc">{{this.desc}}</span>
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{#if this.isNote}}
      <p class="gm-ref-note gm-ref-entry">{{this.text}}</p>
      {{/if}}

    {{/each}}
  </section>
  {{/each}}
</div>
